.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.card .card-content {
  padding: 0px !important;
}

.card .card-image img {
  background-color: burlywood;
}
.image {
  max-width: 100%;
}
.image img {
  max-width: 100%;
  height: auto;
}
.collection .name {
  font-size: 25px !important;
}
.collection .textarea {
  min-height: 100px;
}
.backuserlist {
  display: block;
}
