.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.container {
  margin-top: 20px;
}
.card .card-content {
  padding: 0px !important;
}

.card .card-image img {
  background-color: burlywood;
}
.collection .name {
  font-size: 25px !important;
}
.collection .textarea {
  min-height: 100px;
}
.collection .textarea-project {
  min-height: 250px;
}
.backuserlist {
  display: block;
}
.modal-button {
  cursor: pointer;
}
.user-avatar {
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  border-radius: 20rem;
}
.avatar-image {
  max-width: 100%;
  height: auto;
  border-radius: 20rem;
  cursor: pointer;
}
.user-avatar:hover {
  border: 2px solid;
  border-color: mediumspringgreen;
}

.file-input {
  display: "none";
}
.about-avatar {
  width: 20rem !important;
  height: 20rem !important;
  display: flex !important;
  justify-content: center !important;
  border-radius: 20rem !important;
}
input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

.search {
  margin-bottom: 20px;
  padding: 0px !important;
}

.ReactModal__Content {
  top: 2.5rem;
  left: 10.5rem;
  right: 10.5rem;
  bottom: 23.5rem;
}

.ReactModal__Overlay {
  z-index: 999;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
.register-avatar {
  margin-top: 20px;
  padding-left: 150px;
}
.registration-form {
  padding-left: 40px !important;
}
.login-form {
  display: flex;
  justify-content: center;
}
.login-row {
  max-width: 80%;
}
.login-container {
  max-width: 40%;
}
.regist {
  margin-bottom: 0;
}
.reg {
  margin-bottom: 35px;
}
.Dropdown-control {
  margin-bottom: 15px;
}
