.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.card .card-content {
  padding: 0px !important;
}

.card .card-image img {
  background-color: burlywood;
}
.collection .name {
  font-size: 25px !important;
}
.collection .textarea {
  min-height: 100px;
}
.backuserlist {
  display: block;
}
.modal-button {
  cursor: pointer;
}
.user-avatar {
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  border-radius: 20rem;
}
.avatar-image {
  max-width: 100%;
  height: auto;
  border-radius: 20rem;
  cursor: pointer;
}
.user-avatar:hover {
  border: 2px solid;
  border-color: mediumspringgreen;
}

.file-input {
  display: "none";
}
.about-avatar {
  width: 20rem !important;
  height: 20rem !important;
  display: flex !important;
  justify-content: center !important;
  border-radius: 20rem !important;
}
